body{
	background-color: orange;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat; /*Stretches the background image */
	background-size: cover;
	background-attachment: fixed; /* Makes background it move with the cursor */
	font-family: Helvetica, Arial, Sans-Serif; /*Put three fonts in case some browswers can't present one. */
}

.headnav {
	background-color: orange;
	width: 600px;
	margin: 0 auto; /*The "Auto" keeps it anchored to centre.*/
	padding: 20px;
	border-radius: 20px;
}

.main{
	background-color: white;
	background-color: rgba(255,255,255,0.4); /*Final number in rgba is opacity */
	width: 600px;
	margin: 0 auto;
	padding: 20px; /* Puts space between the division and the start of the text */
	border-radius: 20px;
	box-shadow: 0px 0px 25px 5px rgba(255,255,255, 0.4);
}

img{
	display: block;
	margin: 0 auto;
	width: 200px;
	border: 20px dashed orange;
	border-radius: 25% 25% 25% 25%;
}

img:hover{
	opacity: 0.4;
	cursor: pointer;
	filter: alpha (opacity=20);
}

h1 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	text-shadow: 6px 5px 10px orange;
	text-transform: uppercase;
	font-size: 250%;
	letter-spacing: 10px;
}

h2 {text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h3 {
	font-size: 24px;
	cursor: pointer;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	margin-bottom: 0;
}

h3:hover {
	text-decoration: underline;
	background-color: purple;
	background-size: 50px;
	color: white;
}

p {
	text-align: justify;
}

ul{
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.nav{
	max-height: 50px;
	height: 15px;
}

.nav li {
	display: inline-block; /*This is putting the nav horizontal */
	font-family: 'Indie Flower', cursive;
	text-align: center;
	text-align: middle;
	border-right: 1px solid purple; /* This puts little dividers between menu items */
	width: 110px;
}

.nav li a:hover {
	background-color: purple;
	color: white;
}

.nav a{
	display: inline;
	text-align: center;
	color: purple;
	padding: 0;
	width: 110px;
	background-color: white
	font-weight: bold;
}

ol {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0
}

ol li {
	font-weight: bol;
	font-size: 16px;
}


.meal li {
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.footerall{
	margin: 0 auto;
	padding: 20px;
	background-color: purple;
	opacity: 0.5;
	width: 0 auto;
	margin: 0;;
	border-radius: 0;
}

.footer{
	background-color: orange;
	width: 350px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	vertical-align: middle;
}

.footer li{
	display: inline-block; /*This is putting the nav horizontal */
	font-family: 'Indie Flower', cursive;
	vertical-align: middle;
	text-align: center;
	width: 110px;
}

.footer li a:hover {
	background-color: purple;
	color: white;
}

.footer a{
	display: inline;
	text-align: center;
	vertical-align: middle;
	color: purple;
	padding: 0;
	width: 110px;
	background-color: white
	font-weight: bold;
}

.footer{
	max-height: 15px;
	height: 15px
}

